<div class="card">
    <h5 class="card-header">Test Block</h5>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Weight</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
        <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> TEST</button>
    </div>
</div>


